<div id="header">
    <!-- <ul>
      <li class="f"><a href="#">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="page.html">Demo Page</a></li>
      <li><a href="contact.html">Contact Page</a></li>
    </ul> -->
    <p class="links">Subscribe: <a href="#">Posts</a> | <a href="psyteksoluions@gmail.com">Email</a> </p>
    <div class="break"></div>
    <div class="logo">
       
      <h1> <a > Tech News </a></h1>
      <p>#Team_psytek</p>
    </div>
    <div class="ad468x60"> <a href="#"><img src="../assets/images/Logo.png"  width="64px" height="80px"></a> </div>

    <div class="break"></div>
    <ol>
      <li routerLinkActive="active"><a routerLink="/Home">Technology</a></li>
      <li  routerLinkActive="active"><a routerLink="/others">Others</a></li>
     
    </ol>
    <div class="break"></div>
  </div>
 