<app-header></app-header>



<h4 style="margin-left: 38px; margin-top: 10px;">Latest English</h4>
  <div id="content">
    <!-- begin post -->
    <div class="post" *ngFor="let s of englishNews" >
      <div class="thumb"><a><img src="{{s.contentImage.url}}" alt="" /></a></div>
      <div class="thumb" *ngIf="s.contentImage['0']"><a><img src="{{s.contentImage['0'].url}}" alt="" /></a></div>

      <h2><a href="#">{{s.title}}</a></h2>
      <p class="date">{{s.publishedAt}}</p>
      <p>{{s.description}}</p>
      <a class="continue" style="cursor: pointer;" (click)="checknews(s)">Continue Reading</a>
     </div>
  
    <!-- begin post navigation -->

    <!-- end post navigation -->
    <button style="    background: aliceblue;
    height: 35px;
    width: 100%;cursor: pointer;
    border: none;
    margin-bottom: 10px;
    border-radius: 100px;" class="btn btn-danger" (click)="viewMore()">view More</button>
  </div>


<app-news-sidebar></app-news-sidebar>
<div id="footer">
    <p>Copyright &copy; 2009 - <a href="#">Psytek</a> &middot; All Rights Reserved</p>
    <p>by: <a >Psytek solutions</a> | Get More </p>
  </div>